#bodyã€€{
	width: 700px;
}

#title {
	width: 700px;/*250+250+100+100*/
	height: 40px;
	text-align: center;
	background: #adff2f;	
}

.list {
	width: 700px;
}

.english {
	width: 250px;
	height: 30px;	
	text-align: center;	
	float: left;
}

.japanese {
	width: 250px;
	height: 30px;
	text-align: center;	
	float: left;
}

.change_delete {
	width: 100px;
	height: 30px;
	text-align: center;
	float: left;
}

.language {
	width: 250px;
	font-size: 20px;
	text-align: center;
	background-color: #ffa500;
	float: left;
}

.button {
	width: 100px;
	font-size: 20px;
	text-align: center;
	background-color: #ffa500;
	float: left;
}



.floatclear {clear: both;}