.body {
	width: 100%;
	background-color: #fffafa;
}

.title_frame {
	width: 100%;
	height: 75px;
	background-color: #f0f8ff;
}


.title_page {
	font-size: 50px;
	background-color: #f0f8ff;
	width: 25%;
	margin: 0 auto;
	text-align: center;
	float: left;
}

.title {
	background-color: #f0f8ff;
	width: 25%;
	height: 75px;
	margin: auto auto;
	text-align: center;
	float: left;
}

.title_name {
	font-size: 35px;
	background-color: #f0f8ff;
	width: 25%;
	height: 75px;
	margin: auto 0;
	text-align: center;
	float: left;
}

.field_login {
	width: 60%;
	float: left;
}

.button {
	width: 20%;
	float: left;
}

.content {
	width: 1600px;
	height: 1000px;
	margin: 0 auto;
}

.img_frame {
	width: 300px;
	height: 450px;
	text-align: left;
	margin-right: 50px;
	margin-left: 50px;
	float: left;
	font-size: 10px;
}

.img_frame span {
	font-size: 15px;
}

.img_frame input {
	width: 300px;
	height: 300px;
}

.all_page {
	width: 1600px;
	background-color: #ffff00;
	margin: 0 auto;
	text-align: center;
}

.content {
	width: 1600px;
	margin: 0 auto;
	text-align: center;
}

.sub_content {
	width: 1300px;
	margin: 0 auto;
	text-align: left;
}

.video_frame {
	width: 1600px;
}

.video_frame video {
	width: 1300px;
	margin: 0 auto;
}

.video_title {
	width: 1300px;
	font-size: 30px;
	text-align: left;
	margin: 0 auto;
}

.comment {
	width: 200px;
	float: left;
}

.date {
	font-size: 5px;
	float: left;
}

.floatclear {clear: both;}
