#title {
	width: 400px;
	text-align: center;
	color: #ff0000;
}

#body {
	width: 400px;
}

.language {
	width: 200px;
	background-color: #adff2f;
	text-align: center;
	float: left;
}

.contents {
	width: 200px;
	text-align: center;
	float: left;
}

.button {
	width: 100px;
	text-align: center;
	float: left;
}

.floatclear {clear: both;}