.blank_0 {
	width: 262px;
	height: 30px;
	float: left;
}

.body {
	width: 200px;
	text-align: center;
	background-color: #00ff00;
	float: left;
}

.title {
	width: 200px;
	font-size: 30px;
	color: #ffffff;
	text-align: center;
}

.field {
	width: 200px;
	text-align: center;
}

.text {
	width: 200px;
	text-align: center;
}

.button {
	width: 200px;
	text-align: center;
}

.blank_1 {
	height: 30px;
}

.applying {
	width: 200px;
}
.blank_2 {
	width: 20px;
	background-color: #00ff00;
	color: #00ff00;
	float: left;
}

.applying_contents {
	width: 50px;
	text-align: center;
	float: left;
}

.friend_contents {
	width: 100px;
	text-align: center;
	float: left;
}

.title_2 {
	width: 200px;
	height: 30px;
	background-color: #5f91ed;
	text-align: center;
	float: left;
}

.name {
	width: 100px;
	float: left;
}

.button_2 {
	width: 50px;
	float: left;
}

.chat {
	width: 200px;
	min-height: 250px;
	text-align: center; 
	background-color: #5f91ed;
	float: left;
}

.send {
	width: 200px;
	height: 30px;
	background-color: #5f91ed;
	text-align: center;
	float: left;
}

.blank_3 {
	width: 100px;
	height: 10px;
	background-color: #5f91ed;
	float: left;
}

.my_message {
	width: 100px;
	background-color: #00ff00;
	font-size: 12px;
	text-align: right;
	float: left;
}

.friends_message {
	width: 100px;
	background-color: #ffffff;
	font-size: 12px;
	text-align: left;
	float: left;
}

/*.friends_name {
	width: 40px;
	text-align: right;
	font-size: 10px;
	float: left;
}*/

.dat {
	width: 100px;
	font-size: 10px;
	float: left;
}

.floatclear{clear: both;}