#title {
	width: 400px;
	text-align: center;
	color: #ff0000;
}

#body {
	width: 400px;
}

.language {
	width: 200px;
	text-align: center;
	background-color: #ffa500;
	float: left;
}

.content {
	width: 200px;
	text-align: center;
	float: left;
}

.button {
	width: 100px;
	text-align: center;
	float: left;
}

.floatclear {clear: both;}