body {
	width: 1000px;
}

#title {
	width: 400px;
	height: 40px;
	background-color: #ffff00;
	color: #ff0000;
	text-align: center;
	font-size: 30px;
}

#title_2 {
	width: 550px;
	font-size: 30px;
	text-align: center;
	color: #ff0000;

}

#blank_1{
	width: 400px;
	height: 30px;
}

#button {
	width: 400px;
}

.button {
	width: 200px;
	float: left;
	text-align: center;
}

.id {
	width: 50px;
	float: left;
}

.name {
	width: 100px;
	float: left;
}

.mail {
	width: 100px;
	float: left;
}

.age {
	width: 50px;
	float: left;
}

.gender {
	width: 100px;
	float: left;
}

.pass {
	width: 100px;
	float: left;
}

.state {
	width: 50px;
	text-align: center;
	float: left;
}

.change_text {
	width: 300px;
}

.floatclear {clear: both;}